{% extends "SLAMGSBBundle::accueil.html.twig" %}
{% block body %}
{% block bloc1 %}
<div id="contenu">
     <table class="listeLegere">
       <h2>Véhicules utilisés</h2>
          <tr>
             <th class="nom">Nom</th>
             <th class="prenom">Prénom</th>
             <th class="date">Date</th>
             <th class="immat">Immatriculation</th>
          </tr>
          {% for unVehicule in lesvehicules %}
             {% set nom = unVehicule.nom %}
             {% set prenom = unVehicule.prenom %}
             {% set dateDébut = unVehicule.dateDébut %}
             {% set immat = unVehicule.immat %}
          <tr>
             <td>{{nom}}</td>
             <td>{{prenom}}</td>
             <td>{{dateDébut}}</td>
             <td>{{immat}}</td>
          </tr>
          {% endfor %}
     </table>
</div>
{% endblock %}
{% endblock %}
